<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1> Page not found </h1>

    <!-- SCRIPTS -->
    <script src="/components/bootstrap.native/dist/bootstrap-native.min.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
